$color-dark: #0b0c10;
$color-dark-blue: #1f2833;
$color-gray: #7e7e7e;
$color-light: #fff;
$color-blue: #66fcf1;
$color-blue-70: rgba(102, 252, 241, 0.7);
$color-blue-55: rgba(102, 252, 241, 0.55);
$color-dark-gray: #101117;
$color-gray-20: rgba(126, 126, 126, 0.2);
$color-red: #ee204d;

$breakpoint-lg: 1050px;
$breakpoint-md: 768px;
$breakpoint-sm: 440px;

$font-family: "Acrom", sans-serif;

$border: 2px solid $color-gray;
$border-radius: 15px;

$input-height: 60px;

$transition-duration: 0.1s;

$container-width: 1340px;
$container-padding-x: 30px;
