@use "@/styles/globals" as g;

.section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 20px;
  width: 100%;
}

.chart__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}
