@use "../../styles/globals" as g;

.input__wrapper {
  position: relative;
  width: 100%;

  &:focus-within {
    .input__search-icon {
      color: g.$color-blue-55;
    }
  }
}

.input {
  border: g.$border;
  border-radius: g.$border-radius;
  padding: 0px 20px;
  width: 100%;
  height: g.$input-height;
  color: g.$color-gray;
  background-color: transparent;
  transition-duration: g.$transition-duration;

  &::placeholder {
    transition-duration: g.$transition-duration;
  }

  &:focus {
    color: g.$color-blue-55;
    border-color: g.$color-blue-55;

    &::placeholder {
      color: g.$color-blue-55;
    }
  }

  &__comment {
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
  }
  &__search {
    padding-inline: 44px 10px;
    height: 45px;

    &-icon {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      color: g.$color-gray;
    }
  }
  &__error {
    border-color: g.$color-red;
  }
}

.input__error_message {
  position: absolute;
  left: 0;
  bottom: -1.25rem;
  font-size: 0.875rem;
  color: g.$color-red;
}
