@use "@/styles/globals" as g;

.menu__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding-inline: 20px;
  height: 45px;
  border-radius: g.$border-radius;
  color: g.$color-light;
  background-color: g.$color-gray-20;
  transition-duration: g.$transition-duration;

  &:hover {
    background-color: g.$color-blue-55;
  }
}
