@use "../../styles/globals" as g;

.btn {
  @include g.flex-col-center;

  justify-content: center;
  padding: 0px 20px;
  width: 100%;
  height: g.$input-height;
  border-radius: g.$border-radius;
  color: g.$color-light;
  background: g.$color-blue-55;
  transition-duration: g.$transition-duration;

  &:hover {
    background: g.$color-blue-70;
  }

  &--disabled {
    @include g.flex-col-center;

    cursor: default;
    justify-content: center;
    width: 100%;
    height: g.$input-height;
    border-radius: g.$border-radius;
    color: g.$color-gray;
    background: g.$color-gray-20;
  }
}
