@use "@/styles/globals" as g;

.wrapper {
  width: 100%;
  padding-inline: 40px;

  @media (max-width: g.$breakpoint-md) {
    padding-inline: 0;
  }
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header__top {
  border-radius: g.$border-radius;
  width: 100%;
  height: 200px;
  overflow: hidden;
  transition-duration: g.$transition-duration;
}

.header__top-image {
  position: relative;
  z-index: -3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__top-block {
  width: 100%;
  height: 100%;
  background-color: g.$color-gray;
}

.header__bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: 10px;
  margin-top: -54px;
  padding-inline: 40px;

  @media (max-width: g.$breakpoint-md) {
    padding-inline: 0;
    align-items: center;
    justify-content: center;
  }
}

.header__bottom-left {
  display: flex;
  align-items: flex-end;
  gap: 10px;

  @media (max-width: g.$breakpoint-md) {
    justify-content: center;
    flex-direction: column;
  }
}

.header__bottom-block {
  position: relative;
  border-radius: 50%;
  border: g.$border;
  overflow: hidden;
  width: 150px;
  aspect-ratio: 1;
  transition-duration: g.$transition-duration;

  // &:hover {
  //   box-shadow: 0px 0px 100px 100px rgba(11, 12, 16, 0.5) inset;

  //   .bottom__block-edit {
  //     opacity: 1;
  //   }
  // }
}

.bottom__block-edit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
  color: g.$color-light;
  transition-duration: g.$transition-duration;
  opacity: 0;
}

.bottom__block-image {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__bottom-info {
  display: flex;
  flex-direction: column;
  row-gap: 17px;

  @media (max-width: g.$breakpoint-sm) {
    align-items: center;
    row-gap: 10px;
    width: 100%;
  }
}

.header__bottom-title {
  font-size: 2rem;
  color: g.$color-light;

  @media (max-width: g.$breakpoint-sm) {
    font-size: 1.5rem;
  }
}

.header__bottom-paragraph {
  font-weight: 500;
  font-size: 1.25rem;
  color: g.$color-gray;
}

.controls {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  column-gap: 20px;
}

.info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 20px;
  width: 100%;

  @media (max-width: g.$breakpoint-sm) {
    flex-direction: column;
    row-gap: 35px;
  }
}

.info__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
  width: 50%;

  @media (max-width: g.$breakpoint-sm) {
    width: 100%;
  }
}

.info__left-title {
  font-size: 1.5rem;
  color: g.$color-light;
}

.info__left-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.info__left-item {
}

.info__left-paragraph {
  font-size: 1.25rem;
  color: g.$color-gray;
}
