@use "@/styles/globals" as g;

.player {
  position: fixed;
  bottom: 24px;
  left: calc(250px + 24px);
  right: 38px;
  display: flex;
  border: 2px solid g.$color-gray-20;
  border-radius: 15px;
  padding: 10px;
  height: 80px;
  width: calc(100% - 250px - 24px - 38px);
  background: g.$color-dark-gray;

  @media (max-width: g.$breakpoint-md) {
    left: 0;
    right: 0;
    bottom: 70px;
    width: 100%;
  }
}

.player__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 15px;
  width: 100%;
  max-width: 261px;
}

.left__block-image {
  border-radius: g.$border-radius;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  overflow: hidden;
  background-color: g.$color-gray;
  transition-duration: g.$transition-duration;
}

.block__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left__info {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 5px;
  text-align: start;
}

.left__info-title {
  font-size: 1rem;

  a {
    @include g.cut-text(140);

    display: inline-block;
    color: g.$color-light;
  }
  a:hover {
    text-decoration: underline;
  }
}

.left__info-link {
  @include g.cut-text(140);

  display: inline-block;
  font-weight: 700;
  font-size: 0.875rem;

  &:hover {
    text-decoration: underline;
  }
}

.left__btn {
  svg {
    width: 25px;
    height: 23px;
    color: g.$color-gray;
    transition-duration: g.$transition-duration;

    &:hover {
      color: g.$color-light;
    }
  }

  &.active {
    svg {
      color: #ff4d4d;
      fill: #ff4d4d;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.player__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  width: 100%;

  @media (max-width: g.$breakpoint-md) {
    justify-content: center;
  }
}

.center__controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 447px;

  @media (max-width: g.$breakpoint-md) {
    display: none;
  }
}

.controls__player {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.play__btn {
  width: 41px;
  height: 40px;
}

.controls__player-next {
  transform: rotate(180deg);
}

.center__progress {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  width: 100%;
  max-width: 447px;

  @media (max-width: g.$breakpoint-md) {
    display: none;
  }
}

.adaptive__btn {
  display: none;

  @media (max-width: g.$breakpoint-md) {
    display: block;
  }
}

.progress__time {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 60px;
  font-weight: 700;
  font-size: 0.875rem;
  color: g.$color-gray;
}

.progress {
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 5px;
  background-color: g.$color-gray-20;
  border-radius: g.$border-radius;
}

.progress--filled {
  height: 100%;
  background-color: g.$color-blue-55;
  border-radius: g.$border-radius;
  transition-duration: g.$transition-duration;
}

.progress__thumb {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: g.$color-blue;
  border-radius: 50%;
  pointer-events: none;
}

// .aside__nav-link {
//   @include g.user-btn;

//   &:hover {
//     color: g.$color-light;
//     background: g.$color-blue-55;
//   }
//   @media (max-width: g.$breakpoint-md) {
//     padding: 0;
//   }

//   svg {
//     width: 24px;
//     height: 24px;
//     transition: transform g.$transition-duration;

//     @media (max-width: g.$breakpoint-md) {
//       width: 40px;
//       height: 40px;
//     }
//   }

//   p {
//     @media (max-width: g.$breakpoint-md) {
//       display: none;
//     }
//   }
// }
